body {
  font-family: fantasy;
  font-weight: lighter;
  padding: 10px;
  background-color: rgb(231, 164, 192);
  color: rgb(219, 96, 147);
}

h1 {
  color: rgb(212, 44, 114);
}

h1,
h4 {
  font-family: fantasy;
}

img {
  width: 50px;
  height: 50px;
  margin: 0 10px;
  border-radius: 12px;
}

/* label color */
.input-field label {
  color: rgb(219, 96, 147) !important;
}

/* label focus color */
.input-field input[type='text']:focus+label {
  color: rgb(212, 44, 114) !important;
}

/* label underline focus color */
.input-field input[type='text']:focus {
  border-bottom: 1px solid rgb(212, 44, 114) !important;

}

/* valid color */
.input-field input[type='text'].valid {
  border-bottom: 1px solid rgb(212, 44, 114) !important;

}

/* invalid color */
.input-field input[type='text'].invalid {
  border-bottom: 1px solid rgb(156, 26, 80) !important;
}

/* icon prefix focus color */
.input-field .prefix.active {
  color: rgb(212, 44, 114) !important;
}

.results-box {
  border-radius: 5px;
  padding: 5px 15px 15px 15px !important;
  min-height: 150px !important;
}

.found-users {
  display: flex;
  flex-direction: column;
}

.user {
  display: flex;
  flex-direction: row;
  align-items: center;
}